<launch>
    <arg name="gui" default="true" />
    <arg name="rviz" default="false" />

    <arg name="x" default="0.3" />
    <arg name="y" default="0.3" />
    <arg name="z" default="0.0" />
    <arg name="Y" default="1.57" />
    <arg name="P" default="0.0" />
    <arg name="R" default="0.0" />
    <arg name="less_tags" default="false" />

    <arg name="process_model" default="simple" />

    <include file="$(find hippocampus_sim)/launch/single_vehicle_complete.launch">
        <arg name="gui" value="$(arg gui)" />
        <arg name="rviz" value="$(arg rviz)" />
        <arg name="x" value="$(arg x)" />
        <arg name="y" value="$(arg y)" />
        <arg name="z" value="$(arg z)" />
        <arg name="R" value="$(arg R)" />
        <arg name="P" value="$(arg P)" />
        <arg name="Y" value="$(arg Y)" />
    </include>
    <!-- use the group tag to launch nodes in a namespace -->
    <group ns="uuv00">
        <include file="$(find hippocampus_common)/launch/tf_publisher.launch" />
        <include file="$(find hippocampus_common)/launch/tf_pose_ros_to_px4.launch" />

        <include file="$(find mu_auv_localization)/launch/new_ekf_test_gazebo.launch">
            <arg name="ns" value="uuv00" />
            <arg name="less_tags" value="$(arg less_tags)" />
            <arg name="process_model" value="$(arg process_model)" />
        </include>

        <include file="$(find hippocampus_common)/launch/ground_truth_twist_to_body.launch"></include>

    </group>
</launch>
