<launch>
    <arg name="vehicle_name" doc="Something like 'uuv04' or 'bluerov.'" />
    <arg name="vehicle_type" doc="Either 'hippocampus' or 'bluerov'."/>
    <arg name="sensor_pose_config_file" default="$(arg vehicle_type)_sensor_poses_default.yaml"/>

    <node pkg="hippocampus_common" type="tf_publisher_node" name="tf_publisher_node" clear_params="true" output="screen">
        <rosparam command="load" file="$(find hippocampus_common)/config/$(arg sensor_pose_config_file)" />
        <param name="vehicle_name" value="$(arg vehicle_name)"/>
        <param name="vehicle_type" value="$(arg vehicle_type)"/>
    </node>
</launch>
