<launch>
    <!-- specifies a camera pose config file that contains the camera pose information of your specific vehicle -->
    <arg name="camera_pose_config" default="camera_pose_default.yaml" />

    <node pkg="hippocampus_common" type="tf_publisher_node" name="tf_publisher_node" clear_params="true" output="screen">
        <rosparam command="load" file="$(find hippocampus_common)/config/$(arg camera_pose_config)" />
    </node>
</launch>
