<launch>
    <arg name="vehicle_name" />
    <arg name="do_twist" default="true" />
    <arg name="use_ground_truth" default="false" />
    <arg name="vehicle_type" default="hippocampus" />
    <arg name="use_external_controller" default="false" />

    <arg name="camera_name" default="vertical_camera" />
    <arg name="do_rectify" default="true" />
    <arg name="image_raw_topic" default="image_raw" />
    <arg name="image_rect_topic" default="image_rect" />

    <!-- EKF specific -->
    <arg name="process_model" default="simple" />
    <!-- "simple": new state = old state -->
    <!-- "velocities": simple point mass model using velocities to propagate old state -->

    <group ns="$(arg vehicle_name)">
        <param name="vehicle_name" value="$(arg vehicle_name)" />
        <param name="vehicle_type" value="$(arg vehicle_type)" />


        <!-- localization -->
        <include file="$(find hippocampus_common)/launch/node_tf_publisher.launch" pass_all_args="true" />

        <include file="$(find mu_auv_localization)/launch/localization.launch" pass_all_args="true" />

        <!-- convert orientation from quaternion to roll, pitch, yaw -->
        <include file="$(find hippocampus_common)/launch/inc_quat_to_rpy.launch" />


        <!-- path follower/control -->
        <node pkg="hippocampus_common" type="auto_offboard_node" name="auto_offboard" output="screen" />
        <include file="$(find control)/launch/path_tracking.launch" pass_all_args="true" />
    </group>
</launch>
